/* Reuse base styles/classes expected by the Vite template */
@import url("../../App.css");



.character-item {
    border: 1px solid black; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
}